In [1]:
import pandas as pd

In [7]:
data= pd.read_html('https://www.twse.com.tw/fund/TWT44U?response=html&date=20200311')  
data[0]

    109年03月11日 投信買賣超彙總表
     Unnamed: 0_level_1  證券代號   證券名稱     買進股數  賣出股數    買賣超股數
0                   NaN  2368    金像電  2700000     0  2700000
1                   NaN  2603     長榮  2434000     0  2434000
2                   NaN  3017     奇鋐  1995000     0  1995000
3                   NaN  4746     台耀  1594000     0  1594000
4                   NaN  3037     欣興  1059000  2000  1057000
..                  ...   ...    ...      ...   ...      ...
119                 NaN  2301    光寶科        0  5000    -5000
120                 NaN  6166     凌華        0  5000    -5000
121                 NaN  6451  訊芯-KY        0  4000    -4000
122                 NaN  2327     國巨      488  3000    -2512
123                 NaN  6176     瑞儀        0  1000    -1000

[124 rows x 6 columns]

In [12]:
dict = {  
    "factory": "Taipei",
    "sensor1": "1",
    "sensor2": "2",
    "sensor3": "3",
    "sensor4": "4",
    "sensor5": "5"
}

select = pd.Series(dict, index = dict.keys()) # 排序與原 dict 相同  
print(select[0])  
print("=====")  
print(select['sensor1'])  
print("=====")  
print(select[[0, 2, 4]])  
print("=====")  
print(select[['factory', 'sensor1', 'sensor3']])

Taipei
=====
1
=====
factory    Taipei
sensor2         2
sensor4         4
dtype: object
=====
factory    Taipei
sensor1         1
sensor3         3
dtype: object